:root{
    --primary: #5E3BEE;
    --secondary:#1C1E53;
}

.btn-purple{
   border: 1px solid var(--primary);
    color: var(--primary);
}
.purple{
    color: var(--primary);
}

.blue{
    color: var(--secondary);
}